<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="globalProperties" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="location" value="config.properties"/>
    </bean>

    <bean id="botsProvider" class="ru.botgame.providers.BotsProvider">
        <constructor-arg name="botsDirectory" value="${sbt.root.bots.directory}"/>
    </bean>

    <bean id="meetingsProvider" class="ru.botgame.providers.MeetingProvider">
        <constructor-arg name="resultDirectory" value="${sbt.root.results.directory}"/>
    </bean>

    <bean id="threadManager" class="ru.botgame.providers.ThreadPoolManager">
        <constructor-arg name="threadPoolCapacity" value="${sbt.thread.pool.capacity}"/>
        <constructor-arg name="awaitTimeMinutes" value="${sbt.thread.termination.time.minutes}"/>
    </bean>

</beans>